.Dashboard {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    color: #555555;
}

.Dashboard #teacher-img{
    justify-content: space-between;
    width: 48px;
    height: 48px;
    border-radius:50%;
}
