@import url(https://fonts.googleapis.com/css2?family=Nunito&display=swap%27);

html {
    color: #6A6A6A;
    font-family: Nunito;
}

#container{
    margin-left: 336px;
    padding: 85px 112px;
}

.list-title {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    color: #555555;
}

.sub-title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #737373;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
}

.cards-list > div{
    margin: 17px 34px 17px 0;
}